@font-face{font-family:'Public Sans';src:url('PublicSans-Regular.woff2') format('woff2');font-style:normal;font-weight:400;font-display:swap}
@font-face{font-family:'Public Sans';src:url('PublicSans-Medium.woff2') format('woff2');font-style:normal;font-weight:500;font-display:swap}
@font-face{font-family:'Public Sans';src:url('PublicSans-SemiBold.woff2') format('woff2');font-style:normal;font-weight:600;font-display:swap}
@font-face{font-family:'Public Sans';src:url('PublicSans-Bold.woff2') format('woff2');font-style:normal;font-weight:700;font-display:swap}
@font-face{font-family:'Public Sans';src:url('PublicSans-ExtraBold.woff2') format('woff2');font-style:normal;font-weight:800;font-display:swap}
